<div class="pragmatica">
  <div class="pragmatica-header">
    <h1 class="pragmatica-title">{{ source.name.value }}</h1>
    {# <div class="pragmatica-tag">{{ source.type_id.entity.label }}</div> #}
  </div>
  <div class="pragmatica-meta">
    <p>{{ 'Adicionado em'|t }} {{ source.created.value|date('d/m/Y') }}</p>
  </div>

  <div class="pragmatica-container">
    <div class="pragmatica-main-content">
      {% if source.description.value %}
        <div class="pragmatica-description">
          {{ source.description.value|trim }}
        </div>
      {% endif %}
      {% if source.plain_text.value %}
        <p class="pragmatica-plain-text">{{ source.plain_text.value|trim }}</p>
      {% endif %}
    </div>

    <div class="pragmatica-side-panel">
      <h2 class="pragmatica-subtitle">{{ 'Códigos'|t }}</h2>
      <div class="pragmatica-side-panel-inner">
        {% if codings|length > 0 %}
          <ul class="pragmatica-list">
            {% for coding in codings %}
              <li class="pragmatica-coding-item pragmatica-list-item" data-start="{{ coding.start }}" data-end="{{ coding.end }}" data-color="{{ coding.color }}" style="color: {{ coding.color }}">
                <strong>{{ coding.code }}</strong>
                {% if coding.description %}
                  {# @todo: create tooltip for code description and link for complete code item #}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>{{ 'Nenhuma codificação encontrada.'|t }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <a href="{{ path('pragmatica.source_public_list') }}" class="pragmatica-back-link">
    ← {{ 'Voltar para lista de fontes'|t }}
  </a>
</div>
