<div class="pragmatica">
  <h1 class="pragmatica-title">{{ 'Etiquetas'|t }}</h1>
  {% if labels %}
    <ul class="pragmatica-list">
      {% for label in labels %}
        <li class="pragmatica-list-item pragmatica-card">
          <div class="pragmatica-card-header">
            <a href="{{ path('pragmatica.label_public_item', {'pragmatica_label': label.id.value}) }}" class="pragmatica-card-title pragmatica-link">
              {{ label.name.value }}
            </a>
            <span class="pragmatica-tag-circle" style="background-color: {{ label.color.value }}; color: #fff;"></span>
          </div>
          <div class="pragmatica-card-content">
            {% if label.description.value %}
              <p class="pragmatica-card-description">{{ label.description.value|slice(0, 150) }}{{ label.description.value|length > 150 ? '...' : '' }}</p>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="pragmatica-no-results">{{ 'Não há etiquetas cadastradas'|t }}</p>
  {% endif %}
</div>
