{% import '@pragmatica/pragmatica-macros.html.twig' as macros %}

<h1 class="fs-3 mt-3 mb-4">{{ 'Etiquetas'|t }}</h1>

{% for label_type in label_types %}
  <div class="prag-label-type">

    {# Collapsible group header #}
    <button
      class="prag-label-type-header"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#labels-{{ label_type.id }}"
      aria-expanded="{{ loop.first ? 'true' : 'false' }}"
      aria-controls="labels-{{ label_type.id }}"
    >
      <h2>{{ label_type.label }}</h2>
      <svg class="prag-label-type-toggle-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg>
    </button>

    {# Optional group description #}
    {% if label_type.description %}
      <p class="prag-label-type-desc">{{ label_type.description }}</p>
    {% endif %}

    {# Label rows #}
    <div class="collapse {{ loop.first ? 'show' : '' }}" id="labels-{{ label_type.id }}">
      {% if label_type.labels %}
        {% for label in label_type.labels %}
          <div class="prag-label-row">
            <div class="prag-label-row-left">
              <a href="{{ label.url }}">{{ label.label }}</a>
              {% if label.description %}
                <span class="prag-label-row-desc">{{ label.description }}</span>
              {% endif %}
              {% if label._attributes %}
                {% for attr_label, attr_value in label._attributes %}
                  {% if '\n' in attr_value %}
                    <span class="prag-label-row-examples"><strong>{{ attr_label }}:</strong> <span class="prag-attr-value prag-attr-value--block">{{ attr_value }}</span></span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            {{ macros.label_badge(label, false, false) }}
          </div>
        {% endfor %}
      {% else %}
        <p class="prag-label-type-desc">{{ 'Nenhuma etiqueta cadastrada'|t }}</p>
      {% endif %}
    </div>

  </div>
{% endfor %}
