{% macro renderField(field) %}
  <div class="mb-3">
    <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
    <br>

    {% if field.type == 'select' %}
      {% set selected = field.value ?? [] %}
      <select name="{{ field.name }}" id="{{ field.name }}" {{ field.multiple ? 'multiple' : '' }} class="form-control">
        {% for value, label in field.options %}
          <option value="{{ value }}" {% if value in selected %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>

    {% elseif field.type == 'number' %}
      <input type="number" name="{{ field.name }}" id="{{ field.name }}" value="{{ field.value }}" min="{{ field.min }}" max="{{ field.max }}" class="form-control" />

    {% elseif field.type == 'text' %}
      <input type="text" name="{{ field.name }}" id="{{ field.name }}" value="{{ field.value }}" />

    {% else %}
      <p class="error">Unsupported field type: {{ field.type }}</p>
    {% endif %}
  </div>
{% endmacro %}



{% macro annotation_card(content, content_url, header_left, header_right, tags, count) %}
  <div class="card border rounded-0 shadow-sm mb-3">
    <div class="card-header bg-light text-muted rounded-0 py-1 d-flex
      {% if header_left is null and count is defined %}
      justify-content-start
      gap-4
      {%  else %}
      justify-content-between
      align-items-center"
      {% endif %}
    >
      {% if header_left is null and count is defined %}
        <a href="#" class="text-muted hover-link me-3 mb-4" data-bs-toggle="tooltip"  data-bs-html="true"> {{ count }}</a>
      {%  else %}
        <a href="{{ header_left.url }}" class="text-muted hover-link" data-bs-toggle="tooltip"  data-bs-html="true" title="{{ header_left.tooltip }}">{{ header_left.label }}</a>
      {% endif %}
      {# todo: header_right conditional#}
      <a href="{{ header_right.url }}" class="text-muted hover-link" data-bs-toggle="tooltip" data-bs-html="true" title="{{ header_right.tooltip }}">{{ header_right.label }}</a>
    </div>
    <div class="card-body">
      <p class="card-text mb-3">
        {{ content|raw }}
        <a href="{{ content_url }}" target="_blank">
          »
        </a>
      </p>
      <div>
        {% for tag in tags %}
          <span class="badge badge-square me-1" style="background-color: {{ tag.color }};" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ tag.tooltip }}">
            <a href="{{ tag.url }}" class="hover-link text-white">
              {{ tag.label }}
            </a>
          </span>
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro annotation_card2(content, content_url, header_left, header_right, tags, fragments) %}
  <div class="card border rounded-0 shadow-sm mb-3">
    <div class="card-header bg-light text-muted rounded-0 py-1 d-flex
      {% if header_left is null and count is defined %}
      justify-content-start
      gap-4
      {%  else %}
      justify-content-between
      align-items-center"
      {% endif %}
    >
        <a href="{{ header_left.url }}" class="text-muted hover-link" data-bs-toggle="tooltip"  data-bs-html="true" title="{{ header_left.tooltip }}">{{ header_left.label }}</a>
      <a href="{{ header_right.url }}" class="text-muted hover-link" data-bs-toggle="tooltip" data-bs-html="true" title="{{ header_right.tooltip }}">{{ header_right.label }}</a>
    </div>
    <div class="card-body">
      <p class="card-text mb-3">
        {% for fragment in fragments %}
          {% if fragment.highlight != false %}
            <span class="fw-semibold"
                  style="text-decoration: underline;
                    text-decoration-color: {{ fragment.color }};
                    text-decoration-thickness: 2px;">{{ fragment.text }}</span>
          {% else %}
            {{ fragment.text }}
          {% endif %}
        {% endfor %}
        <a href="{{ content_url }}" target="_blank">»</a>
      </p>
      <div>
        {% for tag in tags %}
          <span class="badge badge-square me-1" style="background-color: {{ tag.color }};" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ tag.tooltip }}">
            <a href="{{ tag.url }}" class="hover-link text-white">
              {{ tag.label }}
            </a>
          </span>
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}


{% macro label_type_container (header_title, description, labels) %}
  <div class="d-flex flex-column gap-3">
    <div>
      <h1 class="fs-2 fw-bold">{{ header_title }}</h1>
      <p>
        {{ description ?: 'Sem descrição' }}
      </p>
    </div>

    <div class="d-flex flex-column">
      {% for label in labels %}
        <p>{{ label.label }}</p>
      {% endfor %}
    </div>

  </div>

{% endmacro %}

