<div class="pragmatica">
  <h1 class="pragmatica-title">{{ 'Códigos'|t }}</h1>
  {% if codes %}
    <ul class="pragmatica-list">
      {% for code in codes %}
        <li class="pragmatica-list-item pragmatica-card">
          <div class="pragmatica-card-header">
            <a href="{{ path('pragmatica.code_public_item', {'pragmatica_code': code.id.value}) }}" class="pragmatica-card-title pragmatica-link">
              {{ code.name.value }}
            </a>
            <span class="pragmatica-tag-circle" style="background-color: {{ code.color.value }}; color: #fff;"></span>
          </div>
          <div class="pragmatica-card-content">
            {% if code.description.value %}
              <p class="pragmatica-card-description">{{ code.description.value|slice(0, 150) }}{{ code.description.value|length > 150 ? '...' : '' }}</p>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="pragmatica-no-results">{{ 'Não há códigos cadastrados'|t }}</p>
  {% endif %}
</div>
