<div class="pragmatica">
  <div class="pragmatica-header pragmatica-justify-between">
    <h1 class="pragmatica-title">{{ situation.name.value }}</h1>
    <span class="pragmatica-tag-circle" style="background-color: {{ situation.color.value }}; color: #fff;"></span>
  </div>
  <div class="pragmatica-meta">
    <p>{{ 'Adicionado em'|t }} {{ situation.created.value|date('d/m/Y') }}</p>
  </div>

  <div class="pragmatica-content">
    <p>{{ situation.code.value }}</p>
  </div>


  <h2 class="pragmatica-subtitle">{{ 'Respondida em'|t }}</h2>
  <ul class="pragmatica-list">
    {% for response in responses %}
      <li class="pragmatica-list-item pragmatica-justify-between pragmatica-card">
        <a href="{{ path('pragmatica.public_response_item', {'pragmatica_response': response.id}) }}" class="pragmatica-excerpt">{{ response.name }}</a>
      </li>
    {% else %}
      <li>{{ 'Esta situação não foi respondida por nenhum informante.'|t }}</li>
    {% endfor %}
  </ul>

</div>
