{% import '@pragmatica/pragmatica-macros.html.twig' as macros %}

<h1 class="fs-3 my-3">{{ 'Busca'|t }}</h1>
<h2 class="fs-4 mb-3">{{ 'Filtros'|t }}</h2>

<form method="GET" id="pragmatica-search-form" class="mb-4">
  <div class="container p-0 m-0">
    <div class="row">
      {% for field in filters %}
        <div class="col-12 col-md-6 col-lg-4">
          {{ macros.renderField(field) }}
        </div>
      {% endfor %}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">{{ 'Buscar'|t }}</button>
</form>

<div>
  <h2 class="pragmatica-subtitle mt-4">
  {{ pager.total }} {{ pager.total == 1 ? 'resultado encontrado'|t : 'resultados encontrados'|t }}
  </h2>
  {% if results.responses %}

    {{ macros.pager(pager, 'pragmatica-search-form', 'pragmatica-page-select') }}
  
    {% for response in results.responses %}
      {{ macros.response_card(response.label, response.url, response.situation, response.informant, response.labels) }}
    {% endfor %}

    {{ macros.pager(pager, 'pragmatica-search-form', 'pragmatica-page-select') }}
  {% else %}
    <p>{{ 'Nenhum resultado encontrado.'|t }}</p>
  {% endif %}
</div>

