<div class="pragmatica">
  <div class="pragmatica-header pragmatica-justify-between">
    <h1 class="pragmatica-title">{{ code.name.value }}</h1>
    <span class="pragmatica-tag-circle" style="background-color: {{ code.color.value }}; color: #fff;"></span>
  </div>
  <div class="pragmatica-meta">
    <p>{{ 'Adicionado em'|t }} {{ code.created.value|date('d/m/Y') }}</p>
  </div>

  <div class="pragmatica-content">
    <p>{{ code.description.value }}</p>
  </div>


  <h2 class="pragmatica-subtitle">{{ 'Utilizado em'|t }}</h2>
  <ul class="pragmatica-list">
      {% for selection in selections %}
        <li class="pragmatica-list-item pragmatica-justify-between pragmatica-card">
          <p class="pragmatica-excerpt">...{{ selection.name }}... </p>
          <a href="{{ path('pragmatica.source_public_item', {'pragmatica_source': selection.source_id}) }}">
             {{ selection.source_name }}
          </a>
        </li>
      {% else %}
        <li>{{ 'Este código não foi utilizado em nenhuma seleção.'|t }}</li>
      {% endfor %}
  </ul>

  <a href="{{ path('pragmatica.code_public_list') }}" class="pragmatica-back-link">
    ← {{ 'Voltar para lista de códigos'|t }}
  </a>
</div>
